@import "../../../settings";

.name {
  margin-bottom: 5px;
}

.value {
  font-weight: 600;
  @include adpt($stab-r) {
    display: flex;
    flex-direction: column;
  }
}

.bold {
  color: var(--accent);
  margin-right: 6px;
}
.item {
  @include adpt($stab-r) {
    &:nth-child(n) {
      display: none;
    }

    &:first-child {
      display: block;
    }
  }
}
