@import "../../settings";

.table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 30px;
}

.title {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--accent);
  color: var(--accent);
  text-align: left;
  opacity: 0.7;
}

.row {
  position: relative;
  transition:
    background-color 0.5s,
    color 0.5s;
  cursor: pointer;
  &:hover {
    background-color: rgba(34, 108, 224, 0.7);
    color: var(--white);
  }
  td {
    padding: 20px 10px;
    @include adpt($bmob-r) {
      padding: 5px;
    }
  }
}

.tabletHidden {
  @include adpt($tab-r) {
    display: none;
  }
}

.mobileHidden {
  @include adpt($bmob-r) {
    display: none;
  }
}

.relative {
  position: relative;
}

.add {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  padding: 0;
}
