@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Prata&display=swap");

:root {
  --accent: #226ce0;
  --hover: #223065;
  --secondary: #de89be;
  --secondary-light: #fdcff3;
  --secondary-hover: #a40e4c;
  --warning: #ffb400;
  --success: #7fb800;
  --error: #d7263d;
  --error-hover: #c70f28;
  --white: #fffcf7;
  --black: #333333;
}

body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  padding-top: 100px;
  background-color: var(--white);
}
@media (max-width: 576px) {
  body{
    padding-top: 160px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Prata, serif;
}
