@import "../../../settings";
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 0;
  background-color: var(--white);
  overflow: hidden;
}

.wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  @include adpt($bmob-r) {
  }
}

.inner {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;

}
