@import "../../../settings";
.header {
  position: fixed;
  z-index: 5;
  width: 100%;
  left: 0;
  top: 0;
  padding: 20px 0;
  background-color: var(--white);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  @include adpt($bmob-r) {
    align-items: flex-start;
  }
}

.inner {
  display: flex;
  align-items: center;
  gap: 60px;
  @include adpt($stab-r) {
    gap: 24px;
  }
  @include adpt($bmob-r) {
    flex-direction: column;
    align-items: unset;
    gap: 12px;
  }
}
